In [21]:
#!pip install keras

In [22]:
import json
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import tensorflow

In [23]:
with open('static/js/fatal_accidents.json') as f:
  data = json.load(f)

In [24]:
df = pd.DataFrame.from_dict(data, orient='columns')

In [25]:
df

,ST_CASE,STATE,STATE_NAME,PERMVIT,DAY,MONTH,YEAR,DAY_WEEK,HOUR,RUR_URB,...,LONGITUD,LGT_COND,LGT_CONDITIONS,WEATHER,WEATHER_COND,FATALS,DEATHS,PER_NO,AGE,SEX
0,10001,1,Alabama,1,5,1,2018,6,6,1,...,-86.131869,4,Dawn,1,Clear,1,1,1,55,1
1,10002,1,Alabama,2,8,1,2018,2,0,2,...,-87.289847,2,Dark – Not Lighted,2,Rain,2,2,1,24,1
2,10002,1,Alabama,2,8,1,2018,2,0,2,...,-87.289847,2,Dark – Not Lighted,2,Rain,2,2,2,24,1
3,10003,1,Alabama,2,8,1,2018,2,22,1,...,-86.564036,2,Dark – Not Lighted,10,Cloudy,1,1,1,37,2
4,10003,1,Alabama,2,8,1,2018,2,22,1,...,-86.564036,2,Dark – Not Lighted,10,Cloudy,1,1,1,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156630,560100,56,Wyoming,2,22,10,2018,2,13,1,...,-108.455147,1,Daylight,1,Clear,1,1,2,36,1
156631,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,1,1,40,1
156632,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,1,1,66,1
156633,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,0,1,40,1
156634,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,0,1,66,1

In [26]:
df.columns

Index(['ST_CASE', 'STATE', 'STATE_NAME', 'PERMVIT', 'DAY', 'MONTH', 'YEAR',
       'DAY_WEEK', 'HOUR', 'RUR_URB', 'RUR_URB_NAME', 'ROUTE', 'ROUTE_NAME',
       'LATITUDE', 'LONGITUD', 'LGT_COND', 'LGT_CONDITIONS', 'WEATHER',
       'WEATHER_COND', 'FATALS', 'DEATHS', 'PER_NO', 'AGE', 'SEX'],
      dtype='object')

In [27]:
traning_data=df[['STATE_NAME','RUR_URB','ROUTE','LGT_COND','WEATHER']]

In [28]:
X = traning_data.drop('STATE_NAME', axis=1)
y = traning_data['STATE_NAME']
print(X.shape, y.shape)

(156635, 4) (156635,)

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [30]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)

In [31]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)
encoded_y

array([ 0,  0,  0, ..., 50, 50, 50])

In [33]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
y_train_categorical = to_categorical(encoded_y)
y_train_categorical

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]], dtype=float32)

In [40]:
from tensorflow.keras.models import Sequential

model = Sequential()

In [41]:
from tensorflow.keras.layers import Dense
number_inputs = 4
number_hidden_nodes = 4
model.add(Dense(units=number_hidden_nodes,
                activation='relu', input_dim=number_inputs))

In [46]:
number_classes = 50
model.add(Dense(units=number_classes, activation='softmax'))

In [47]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 4)                 20
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 10
_________________________________________________________________
dense_5 (Dense)              (None, 50)                150
=================================================================
Total params: 180
Trainable params: 180
Non-trainable params: 0
_________________________________________________________________

In [48]:
# Compile the model
# YOUR CODE HERE
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [49]:
# Fit the model to the training data
# YOUR CODE HERE
# Fit (train) the model
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=1000,
    shuffle=True,
    verbose=2
)

ValueError: Data cardinality is ambiguous:
  x sizes: 117476
  y sizes: 156635
Please provide data which shares the same first dimension.

In [ ]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)