In [65]:
import json
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import tensorflow

In [66]:
with open('static/js/fatal_accidents.json') as f:
  data = json.load(f)

In [67]:
df = pd.DataFrame.from_dict(data, orient='columns')

In [68]:
df

,ST_CASE,STATE,STATE_NAME,PERMVIT,DAY,MONTH,YEAR,DAY_WEEK,HOUR,RUR_URB,...,LONGITUD,LGT_COND,LGT_CONDITIONS,WEATHER,WEATHER_COND,FATALS,DEATHS,PER_NO,AGE,SEX
0,10001,1,Alabama,1,5,1,2018,6,6,1,...,-86.131869,4,Dawn,1,Clear,1,1,1,55,1
1,10002,1,Alabama,2,8,1,2018,2,0,2,...,-87.289847,2,Dark – Not Lighted,2,Rain,2,2,1,24,1
2,10002,1,Alabama,2,8,1,2018,2,0,2,...,-87.289847,2,Dark – Not Lighted,2,Rain,2,2,2,24,1
3,10003,1,Alabama,2,8,1,2018,2,22,1,...,-86.564036,2,Dark – Not Lighted,10,Cloudy,1,1,1,37,2
4,10003,1,Alabama,2,8,1,2018,2,22,1,...,-86.564036,2,Dark – Not Lighted,10,Cloudy,1,1,1,36,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156630,560100,56,Wyoming,2,22,10,2018,2,13,1,...,-108.455147,1,Daylight,1,Clear,1,1,2,36,1
156631,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,1,1,40,1
156632,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,1,1,66,1
156633,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,0,1,40,1
156634,560101,56,Wyoming,2,9,11,2018,6,18,1,...,-108.528031,5,Dusk,1,Clear,1,0,1,66,1

In [69]:
df.columns

Index(['ST_CASE', 'STATE', 'STATE_NAME', 'PERMVIT', 'DAY', 'MONTH', 'YEAR',
       'DAY_WEEK', 'HOUR', 'RUR_URB', 'RUR_URB_NAME', 'ROUTE', 'ROUTE_NAME',
       'LATITUDE', 'LONGITUD', 'LGT_COND', 'LGT_CONDITIONS', 'WEATHER',
       'WEATHER_COND', 'FATALS', 'DEATHS', 'PER_NO', 'AGE', 'SEX'],
      dtype='object')

In [70]:
traning_data=df[['STATE_NAME','RUR_URB','ROUTE','LGT_COND','WEATHER']]

In [71]:
X = traning_data.drop('STATE_NAME', axis=1)
y = traning_data['STATE_NAME']
print(X.shape, y.shape)

(156635, 4) (156635,)

In [72]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [73]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)
StandardScaler(copy=True, with_mean=True, with_std=True)
# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [74]:
#Training the Model

In [75]:
from sklearn.neural_network import MLPClassifier

In [76]:
mlp = MLPClassifier(random_state=1,max_iter=500)

In [77]:
mlp.fit(X_train,y_train)

MLPClassifier(max_iter=500, random_state=1)

In [78]:
#Predictions

In [79]:
predictions = mlp.predict(X_test)

In [80]:
mlp.predict(X_test[:5, :])

array(['Georgia', 'Texas', 'Michigan', 'Georgia', 'California'],
      dtype='<U20')

In [82]:
mlp.score(X_test, y_test)

0.2402257463163002

In [83]:
from sklearn.metrics import classification_report,confusion_matrix

In [85]:
print(classification_report(y_test,predictions))

C:\Users\clemi\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                      precision    recall  f1-score   support

             Alabama       0.00      0.00      0.00       905
              Alaska       0.00      0.00      0.00        84
             Arizona       0.78      0.06      0.12      1135
            Arkansas       0.57      0.06      0.10       557
          California       0.30      0.66      0.42      3953
            Colorado       0.40      0.31      0.35       678
         Connecticut       0.00      0.00      0.00       283
            Delaware       0.00      0.00      0.00       120
District of Columbia       0.00      0.00      0.00        31
             Florida       0.27      0.49      0.34      3420
             Georgia       0.15      0.10      0.12      1636
              Hawaii       0.00      0.00      0.00       108
               Idaho       0.17      0.05      0.08       248
            Illinois       0.18      0.02      0.03      1174
             Indiana       0.10      0.02      0.04       880
                Iowa       0.38      0.15      0.21       359
              Kansas       0.71      0.18      0.29       394
            Kentucky       0.00      0.00      0.00       762
           Louisiana       0.00      0.00      0.00       890
               Maine       0.00      0.00      0.00       116
            Maryland       0.00      0.00      0.00       590
       Massachusetts       1.00      0.01      0.01       321
            Michigan       0.11      0.12      0.12      1108
           Minnesota       0.00      0.00      0.00       376
         Mississippi       0.40      0.00      0.01       620
            Missouri       0.02      0.00      0.01      1072
             Montana       0.00      0.00      0.00       115
            Nebraska       0.75      0.59      0.66       513
              Nevada       0.00      0.00      0.00       328
       New Hampshire       0.00      0.00      0.00       109
          New Jersey       0.40      0.03      0.06       594
          New Mexico       0.60      0.01      0.01       477
            New York       0.33      0.15      0.20       905
      North Carolina       0.40      0.03      0.06      1528
        North Dakota       0.00      0.00      0.00       106
                Ohio       0.11      0.08      0.09      1164
            Oklahoma       0.33      0.00      0.01       720
              Oregon       0.29      0.09      0.13       493
        Pennsylvania       0.40      0.60      0.48      1304
        Rhode Island       0.00      0.00      0.00        46
      South Carolina       0.25      0.06      0.10      1021
        South Dakota       0.00      0.00      0.00       101
           Tennessee       0.00      0.00      0.00      1131
               Texas       0.16      0.61      0.26      4055
                Utah       0.00      0.00      0.00       322
             Vermont       0.00      0.00      0.00        59
            Virginia       0.39      0.46      0.42       759
          Washington       0.00      0.00      0.00       565
       West Virginia       0.09      0.09      0.09       323
           Wisconsin       0.00      0.00      0.00       518
             Wyoming       0.00      0.00      0.00        83

            accuracy                           0.24     39159
           macro avg       0.20      0.10      0.09     39159
        weighted avg       0.24      0.24      0.17     39159